# alphabetically ordered
*.egg-info
*.ipynb
*.pyc
*.xml
.coverage*
.DS_Store
.hypothesis
.idea
.ipynb_checkpoints
dist
env
pip-wheel-metadata
py2-env

#folders I don't want to track
PDFs/
plots/
slides/
devel/
results/

#latex outputs
reports/*.aux
reports/*.bbl
reports/*.blg
reports/*.log
reports/*.out
reports/*.toc

#too large of a dataset
data/basketball/baller2vec_format/preprocessed/CLE_starters/



