pip>=19.1.1
wheel
mock
pylint
coverage
flake8
ipython
pyqt5 # seems to be needed for ipython
isort; python_version >= '3.8'
pytest
pytest-cov
pytest-watch
pre-commit
ruptures
black; python_version >= '3.8'
